.home-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.link-block {
  padding: 12px 24px;
  width: 100%;
  border: 1.5px solid var(--black-text-color);
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

.link-block:hover {
  background-color: var(--black-text-color);
  color: var(--white-text-color);
}

@media screen and (max-width: 974px) {
  .home-container {
    width: 100%;
  }
}
