ENVIRONMENT= # dev | staging | production
RUST_LOG=debug
RUST_BACKTRACE=1

# required if using the Prisma CLI (including the migrator CD)
DATABASE_URL=

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

SITE_URL=https://example.com

NEW_RELIC_ACCOUNT_ID=
NEW_RELIC_LICENSE_KEY=

SPOTIFY_OAUTH_CLIENT_ID=
SPOTIFY_OAUTH_CLIENT_SECRET=

OPENAI_API_KEY=
DISCORD_TOKEN=
RAINDROP_API_TOKEN=

CHROMADB_URL=
CHROMADB_DATABASE=
CHROMADB_API_TOKEN=
CHROMADB_DEFAULT_COLLECTION=

