ENVIRONMENT= # dev | staging | production
RUST_LOG=debug
RUST_BACKTRACE=1

# postgres docker envs
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GRAFANA_LOKI_URL=
GRAFANA_LOKI_USER=
GRAFANA_LOKI_PASSWORD=

# required if using the Prisma CLI (including the migrator CD)
DATABASE_URL=
WINDMILL_DATABASE_URL=
COMPOSE_PROJECT_NAME=hhai-dev

GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

SITE_URL=https://hhai.dev

NEW_RELIC_ACCOUNT_ID=
NEW_RELIC_LICENSE_KEY=

SPOTIFY_OAUTH_CLIENT_ID=
SPOTIFY_OAUTH_CLIENT_SECRET=

OPENAI_API_KEY=
DISCORD_TOKEN=
RAINDROP_API_TOKEN=

CHROMADB_URL=
CHROMADB_DATABASE=
CHROMADB_API_TOKEN=
CHROMADB_DEFAULT_COLLECTION=

