---
import RootLayout from "../../layouts/Layout.astro";
import "@/layouts/layout.scss";
import AccountInfo from "./_page";
---

<RootLayout
  seoProps={{ title: "Account Settings", description: "Account Settings page" }}
>
  <main class="settings-main centered-layout">
    <AccountInfo client:only="solid-js" />
  </main>
</RootLayout>

<style lang="scss">
  .settings-main {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
  }
</style>
