---
import Layout from "./Layout.astro";
import { type Props as RootLayoutProps } from "./Layout.astro";

export type Props = RootLayoutProps;
---

<Layout seoProps={Astro.props.seoProps}>
  <slot name="head" slot="head" />
  <div class="blog-container">
    <nav class="nav-bar">
      <div class="nav-bar-content">
        <a href="/" class="logo-name-text">Home</a>
        <a href="/blog" class="nav-bar-link-item">Blog</a>
        <a href="/great-reads" class="nav-bar-link-item">Bookmarks</a>
      </div>
    </nav>
    <slot />
  </div>
</Layout>

<style lang="scss" is:global>
  .blog-container {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns:
      [first] auto [line1] 16px [line3] 700px [line4] 16px [line5] min(
        20vw,
        400px
      )
      [line6] auto [end];
    grid-auto-rows: min-content;
    column-gap: 24px;
    row-gap: 0;
    margin: 0 12px;
    margin-top: 32px;
    justify-content: center;

    /* Default starts at the center column */
    > * {
      grid-column-start: 3;
      grid-column-end: 4;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }

    @media (max-width: 1100px) {
      grid-template-columns:
        [first] 1fr [feature-sm-l] 16px [reading-l] min(
          700px,
          calc(100% - 32px)
        )
        [reading-r] 16px [feature-sm-r] 1fr [end];
      column-gap: 0;
    }

    a {
      text-decoration: underline;
      color: var(--text-body-link);
      &:visited {
        color: var(--text-body-link-visited);
      }
    }
  }

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0 0 0;
    grid-column-start: 3;
  }

  .nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    max-width: 1004px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 1100px) {
      max-width: 700px;
      padding: 0;
    }

    .logo-name-text {
      font-weight: var(--font-weight-medium);
    }

    .nav-bar-link-item {
      font-weight: 400;
    }
  }
</style>
