@use "./tokens";
@use "./primitives";

html {
  font-family: var(--font-family-sans);
  background-color: var(--bg-color);
  color: var(--text-body-heavy);

  // attempt to fix safari unexpectedly large font size
  // https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  scrollbar-gutter: stable;
}

// Font fallbacks config to avoid CLS
// https://developer.chrome.com/blog/font-fallbacks/
// https://github.com/unjs/fontaine
// TODO do the same thing for monospace fonts
@font-face {
  font-family: "Inter fallback";
  src:
    local("BlinkMacSystemFont"), local("Segoe UI"), local("Helvetica Neue"),
    local("Arial"), local("Noto Sans");
  ascent-override: 96.875%;
  descent-override: 24.14772727%;
  line-gap-override: 0%;
}

code {
  font-family: var(--font-family-mono);
}

body {
  margin: 0;
  font-size: var(--font-size-base);
  min-height: 100vh;
}

a,
a:visited {
  color: var(--text-body-heavy);
}

button {
  font-family: var(--font-family-sans);
}
