.centered-layout {
  max-width: 100%;
  box-sizing: border-box;
  width: var(--layout-page-width);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);

  @media (max-width: 1100px) {
    width: 100%;
    padding: var(--space-16) var(--space-12);
  }
}
