.comments-container {
  max-width: 1004px;
  // margin: 64px auto;
  // padding: 0 16px;
  padding: 48px;
  h3 {
    // padding-left: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: var(--font-weight-medium);
    color: var(--text-body-heavy);
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // background-color: var(--bg-additive-light);
    border-radius: 12px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    // padding: 24px;

    .comment-children {
      padding-inline-start: 0;
      padding-inline-end: 0;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .comment {
      list-style: none;

      &.not-root-comment {
        padding-left: 24px;
        padding-top: 16px;
        margin-top: 0;
        border-left: 1px solid var(--bg-additive-medium);
      }

      .comment-header {
        display: flex;
        gap: 12px;
        align-items: baseline;

        .comment-author {
          font-weight: var(--font-weight-medium);
          font-size: 15px;
        }

        .comment-date {
          font-size: 0.8rem;
          color: var(--text-body-medium);
        }

        .comment-upvote {
          font-size: 0.8rem;
        }
      }

      .comment-content {
        --font-size: 15px;

        color: var(--text-body-heavy);
        font-size: var(--font-size);
        line-height: 145%;

        strong {
          font-weight: var(--font-weight-medium);
        }

        a {
          color: var(--text-body-heavy);
          text-decoration: underline;

          &:visited {
            color: var(--text-body-medium);
          }
        }

        pre {
          background-color: var(--bg-additive-light);
          padding: 8px 12px;
          border-radius: 8px;
        }

        code {
          font-size: var(--font-size);
          background-color: transparent;
          padding: 0;
        }

        :not(pre) > code {
          background-color: var(--bg-additive-light);
          padding: 2px 4px;
          border-radius: 4px;
        }

        hr {
          border: none;
          border-top: solid 1px var(--bg-additive-light);
        }

        pre,
        code {
          max-width: 100%;
          overflow-x: auto;
        }

        p {
          margin: 12px 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: var(--font-size);
          font-weight: var(--font-weight-medium);
          color: var(--text-body-medium);
          margin: 12px 0;
        }

        ul li {
          list-style-type: disc;
        }

        blockquote {
          color: var(--text-body-medium);
          font-style: italic;
          margin-inline-start: 20px;
          margin-inline-end: 20px;
        }

        table {
          font-size: var(--font-size);
          border-collapse: collapse;
          border-spacing: 0;

          tbody {
            color: var(--text-body-medium);
          }

          td {
            white-space: break-spaces;
            overflow-wrap: break-word;
            padding: 4px 8px;
            border-top: 1px solid var(--bg-additive-medium);
            font-weight: var(--font-weight-normal);
          }

          th {
            padding: 4px 8px;
            font-weight: var(--font-weight-normal);
            color: var(--text-body-heavy);
          }
        }
      }

      .comment-action-row {
        display: flex;
        gap: 8px;

        button {
          font-size: 14px;
          color: var(--text-body-light);
          background-color: transparent;
          line-height: 1em;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 0;
          &:hover {
            color: var(--text-body-heavy);
          }
        }
      }
    }
  }
}

.side-sheet {
  .sheet-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba($color: black, $alpha: 0.3);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    animation: overlay-fade-in 0.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;

    @media (prefers-color-scheme: dark) {
      background-color: rgba($color: black, $alpha: 0.7);
    }

    // TODO implement reduced motion

    @keyframes overlay-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .sheet-content {
    display: none;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
    box-shadow: 0 0 36px 0 rgba($color: black, $alpha: 0.15);
    height: 100vh;
    overflow-y: auto;
    width: 0;
    max-width: calc(220px + (100vw - 1004px) / 2);
    animation: sheet-slide-in 0.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    z-index: 10;
    position: fixed;

    @media (max-width: 1600px) {
      max-width: 600px;
    }

    @keyframes sheet-slide-in {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  &.open {
    .sheet-content {
      display: block;
      width: 100%;
    }

    .sheet-overlay {
      display: block;
      opacity: 1;
    }
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--text-body-light);
    font-size: 24px;
    line-height: 1em;
    &:hover {
      color: var(--text-body-heavy);
    }
  }
}

body.noscroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

.comment-submission {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--bg-additive-medium);
  margin-top: 12px;

  input {
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--bg-additive-medium);
    // background-color: var(--bg-additive-light);
    color: var(--text-body-heavy);
    transition: border-color 0.2s ease-in-out;
    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
  }

  .comment-editor {
    padding: 12px;
  }

  hr {
    border: none;
    border-top: solid 1px var(--bg-additive-medium);
    margin: 0;
  }

  .author-info {
    display: flex;
    gap: 8px;
    padding: 12px;

    & * {
      flex: 1;
    }
  }

  // TODO refactor to share style with input
  .content {
    font-family:
      Inter Variable,
      sans-serif; // TODO move this to global style
    font-size: 15px;
    padding: 8px;
    color: var(--text-body-heavy);
    transition: border-color 0.2s ease-in-out;
    user-select: text;
    cursor: text;
    line-height: 145%;

    &:focus {
      outline: none;
      // border-color: var(--accent-color);
    }

    resize: vertical;

    &:empty:before {
      content: attr(aria-placeholder);
      color: var(--text-body-medium);
      display: block; /* For Firefox */
    }
  }

  button {
    width: fit-content;
    margin: 0 12px 12px 12px;
  }
}
