---
import type { NestedHeading } from "./TableOfContents.astro";

type Props = {
  heading: NestedHeading;
  depth: number;
};

const { heading, depth } = Astro.props;
---

<>
  <a href={"#" + heading.slug}>{heading.text}</a>
  {
    heading.children.length ? (
      <ul class={"level-" + depth}>
        {heading.children.map((childHeading) => (
          <li>
            <Astro.self heading={childHeading} depth={depth + 1} />
          </li>
        ))}
      </ul>
    ) : null
  }
</>
