god.hhai.dev {
	reverse_proxy host.docker.internal:9090
}

hhai.dev {
	handle_path /api/* {
		reverse_proxy api:3000
	}

	handle {
		root * /www/hhai.dev
		try_files {path}.html
		file_server
	}
}

next.hhai.dev {
	root * /www/next-www
	try_files {path}.html
	file_server
}

share.hhai.dev {
	root * /www/share.hhai.dev
	file_server {
		browse
	}
	header Access-Control-Allow-Origin "*"
}

hang.hhai.dev {
	root * /www/hang.hhai.dev
	file_server
}
