static.hhai.dev {
	handle_path /hhai.dev/* {
		root * /www/hhai.dev
		try_files {path}.html
		file_server {
			disable_canonical_uris
			precompressed zstd gzip
		}

		route {
			header Cache-Control max-age=300
			header /_astro/* Cache-Control max-age=31536000
		}
	}

	encode zstd gzip
}

api.hhai.dev {
	handle_path /api/* {
		reverse_proxy api:3000 {
			# Forward the host header from proxy servers (i.e. CloudFront)
			# otherwise Caddy will drop those by default
			header_up +X-Forwarded-For {http.request.header.X-Forwarded-For}

			# Add the client's IP address (i.e. CloudFront IP) in order to be
			# able to decide whether to trust the X-Forwarded-For header in the
			# application
			header_up +X-Forwarded-For {http.request.remote.host}
		}
	}

	encode zstd gzip
}

files.hhai.dev {
	root * /www/files.hhai.dev
	file_server {
		browse
	}
	header Access-Control-Allow-Origin "*"

	encode zstd gzip
}

windmill.hhai.dev {
	reverse_proxy /ws/* http://windmill_lsp:3001
	reverse_proxy /* http://windmill_server:8000
}
