---
import { For } from "solid-js";
import BlogRouteLayout from "@/layouts/BlogRouteLayout.astro";
import type { Frontmatter } from "@/layouts/BlogPostLayout.astro";
import "@/layouts/layout.scss";

const allPosts = await Astro.glob<Frontmatter>("./**/*.mdx");
---

<BlogRouteLayout
  seoProps={{ title: "Blog", description: "hhai.dev blog index" }}
>
  <main class="blog-main centered-layout">
    <p style={{ color: "var(--text-body-light)" }}>Newest first</p>
    <ul class="article-list">
      <For
        each={allPosts.filter(
          (post) =>
            process.env.NODE_ENV != "production" ||
            (!post.frontmatter.isDraft && !post.frontmatter.hidden)
        )}
        >{
          (post) => (
            <li
              class={`article-entry${
                post.frontmatter.isDraft || post.frontmatter.hidden
                  ? " hidden"
                  : ""
              }`}
            >
              <div>
                <div
                  style={{
                    display: "flex",
                    "flex-direction": "row",
                    "align-items": "start",
                    gap: "12px",
                  }}
                >
                  <a href={post.url}>{post.frontmatter.title}</a>
                  <hr
                    style={{
                      height: "1px",
                      flex: 1,
                      "background-color": "var(--bg-additive-medium)",
                      border: "none",
                      margin: "0.6em 0 0 0",
                    }}
                  />
                  <p class="article-date">
                    {new Date(post.frontmatter.published).toLocaleDateString(
                      "en-UK",
                      {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                      }
                    )}
                  </p>
                </div>
              </div>
              <p class="article-description">{post.frontmatter.description}</p>
            </li>
          )
        }</For
      >
    </ul>
  </main>
</BlogRouteLayout>

<style lang="scss" is:global>
  .blog-main {
    .article-list {
      list-style-type: decimal;
      margin-top: 32px;
      padding-inline-start: 0;

      .article-entry {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        max-width: 700px;

        &.hidden {
          a {
            color: var(--text-body-light);
          }
        }

        & > div {
          width: 100%;
        }

        a {
          font-weight: var(--font-weight-medium);
          font-size: 16px;
          letter-spacing: -0.01em;
          line-height: 1.45em;
        }

        p {
          margin: 2px 0;
        }

        .article-date {
          color: var(--text-body-light);
          font-size: 14px;
          white-space: nowrap;
          // TODO relayout to display all instead of doing this
          flex-shrink: 0;
        }

        .article-description {
          color: var(--text-body-medium);
          font-size: 16px;
          line-height: 1.45em;
        }
      }
    }
  }
</style>
