---
import BlogRouteLayout from "@/layouts/BlogRouteLayout.astro";
import type { Frontmatter } from "@/layouts/BlogPostLayout.astro";

const allPosts = await Astro.glob<Frontmatter>("./**/*.mdx");
---

<BlogRouteLayout>
  <main class="blog-main">
    <ul class="article-list">
      {
        allPosts.map((post) => (
          <li class="article-entry">
            <a href={post.url}>{post.frontmatter.title}</a>
            <p>
              <span class="article-date">
                {new Date(post.frontmatter.published)
                  .toLocaleDateString("en-UK", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })
                  .toUpperCase()}
              </span>
              <span class="article-description">
                {post.frontmatter.description}
              </span>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</BlogRouteLayout>

<style lang="scss" is:global>
  .blog-main {
    margin: 0 auto;
    max-width: 100%;
    width: 700px;
    padding: 0 16px;

    .article-list {
      list-style-type: none;
      padding-inline-start: 0;
      margin-top: 32px;

      .article-entry {
        margin-bottom: 24px;

        a {
          font-weight: 500;
        }

        p {
          margin: 8px 0;
        }

        .article-date {
          text-transform: uppercase;
          color: #999;
          font-size: 13px;
        }

        .article-description {
          color: #666;
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
    @media (min-width: 1280px) {
      width: 1004px;
    }
  }
</style>
