.loader {
  margin-top: var(--space-6);
  width: 18px;
  height: 18px;
  border: 2px solid var(--text-body-heavy);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .loader {
    animation-duration: 1s;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.comments-container {
  max-width: var(--layout-page-width);
  padding: var(--space-8) var(--space-12) var(--space-32) var(--space-12);
  background-color: var(--bg-color);
  box-shadow: var(--shadow-overlay);
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;

  @container (max-width: 480px) {
    padding: var(--space-8) var(--space-9) 50vh var(--space-9);
  }

  .heading {
    display: flex;
    flex-direction: row;
    gap: var(--space-6);
    align-items: center;
    height: 36px;
  }

  .comments-heading-button {
    margin-top: 0;
    font-weight: var(--font-weight-medium);
    margin: 0;
    color: var(--text-body-heavy);
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: var(--font-size-lg);
  }

  .comments-error {
    color: var(--error-medium);
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    border-radius: var(--radius-xl);
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin: var(--space-16) 0;

    .comment-children {
      padding-inline-start: 0;
      padding-inline-end: 0;
      margin-top: var(--space-8);
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
    }

    .comment {
      list-style: none;
      padding-left: 18px;
      padding-top: 0;
      margin-top: 0;
      border-left: 1px solid var(--border-light);

      .comment-header {
        display: flex;
        gap: var(--space-6);
        align-items: baseline;

        .comment-author {
          display: flex;
          flex-direction: row;
          gap: var(--space-4);
          margin-left: -8px;
          align-items: center;
          font-weight: var(--font-weight-medium);
          font-size: 15px;
        }

        .comment-avatar {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: var(--space-3);
          border-radius: var(--radius-round);
          background-color: var(--bg-additive-light);
          color: var(--text-body-heavy);
          line-height: 0;
        }

        .comment-author-badge {
          color: var(--info-heavy);
          background-color: var(--info-light);
          padding: var(--space-1) var(--space-2);
          border-radius: var(--radius-xs);
          border: 1px solid var(--info-medium);
          margin: 0;
          font-size: 0.8em;
          line-height: var(--line-height-tight);
        }

        .comment-date {
          font-size: 0.8rem;
          color: var(--text-body-medium);
        }

        .comment-upvote {
          font-size: 0.8rem;
        }
      }

      .comment-content {
        --font-size: var(--font-size-base);

        color: var(--text-body-heavy);
        font-size: var(--font-size);
        line-height: 145%;

        strong {
          font-weight: var(--font-weight-medium);
        }

        a {
          color: var(--text-body-heavy);
          text-decoration: underline;

          &:visited {
            color: var(--text-body-medium);
          }
        }

        pre {
          background-color: var(--bg-additive-light);
          padding: var(--space-4) var(--space-6);
          border-radius: var(--radius-md);
        }

        code {
          font-size: var(--font-size);
          background-color: transparent;
          padding: 0;
        }

        :not(pre) > code {
          background-color: var(--bg-additive-light);
          padding: var(--space-1) var(--space-2);
          border-radius: var(--radius-xs);
        }

        hr {
          border: none;
          border-top: solid 1px var(--border-light);
        }

        pre,
        code {
          max-width: 100%;
          overflow-x: auto;
        }

        p {
          margin: 12px 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: var(--font-size);
          font-weight: var(--font-weight-medium);
          color: var(--text-body-medium);
          margin: 12px 0;
        }

        ul li {
          list-style-type: disc;
        }

        blockquote {
          color: var(--text-body-medium);
          font-style: italic;
          margin-inline-start: 20px;
          margin-inline-end: 20px;
        }

        table {
          font-size: var(--font-size);
          border-collapse: collapse;
          border-spacing: 0;

          tbody {
            color: var(--text-body-medium);
          }

          td {
            white-space: break-spaces;
            overflow-wrap: break-word;
            padding: var(--space-2) var(--space-4);
            border-top: 1px solid var(--border-medium);
            font-weight: var(--font-weight-normal);
          }

          th {
            padding: var(--space-2) var(--space-4);
            font-weight: var(--font-weight-normal);
            color: var(--text-body-heavy);
          }
        }
      }

      .comment-action-row {
        display: flex;
        margin-left: -8px;

        button {
          font-size: var(--font-size-md);
          padding: var(--space-2) var(--space-4);
          color: var(--text-body-light);
          background-color: transparent;
          line-height: 1em;
          border: none;
          cursor: pointer;
          margin: 0;
          &:hover {
            color: var(--text-body-heavy);
          }
        }
      }
    }
  }
}
