.comment-submission {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  border: 1px solid var(--border-medium);
  margin-top: var(--space-6);
  overflow: hidden;
  margin-left: -4px;
  margin-right: -4px;
  container-type: inline-size;

  &__auth {
    padding: var(--space-5);
  }

  &__auth-prompt {
    font-size: var(--font-size-md);
    color: var(--text-body-medium);
    margin: var(--space-1) var(--space-4) var(--space-6) var(--space-4);
    line-height: 1.4;
    align-items: baseline;
  }

  &__login-button {
    display: inline-flex;
    padding: var(--space-2);
    color: var(--info-heavy);
  }

  .input {
    width: 100%;

    input {
      &::placeholder {
        color: var(--text-body-light);
        font-weight: normal;
      }
    }

    .description {
      font-size: var(--font-size-md);
      color: var(--text-body-light);
      margin: var(--space-3) var(--space-3) 0 var(--space-3);
    }
  }

  hr {
    border: none;
    border-top: solid 1px var(--border-medium);
    margin: 0;
  }

  .author-info {
    display: flex;
    gap: var(--space-3);
    padding: 0;

    @container (max-width: 480px) {
      flex-direction: column;
      gap: var(--space-6);
    }

    & * {
      flex: 1;
    }
  }

  .auth-user {
    padding: var(--space-1) var(--space-3);
    font-size: var(--font-size-md);
    color: var(--text-body-medium);
    margin: 0;

    .author-name {
      color: var(--text-body-heavy);
      font-weight: var(--font-weight-medium);
    }

    .logout-button {
      color: var(--text-body-heavy);
      font-weight: var(--font-weight-medium);
    }
  }

  .content {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-base);
    padding: var(--space-5);
    color: var(--text-body-heavy);
    line-height: 145%;
    border: none;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    background-color: transparent;
  }

  button {
    width: fit-content;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    // background-color: var(--bg-additive-light);
    border-top: 1px solid var(--border-medium);

    .markdown-hint {
      font-size: var(--font-size-sm);
      color: var(--text-body-medium);
      margin: 0 var(--space-4);
      display: flex;
      align-items: center;
      gap: var(--space-4);
    }

    .button-row {
      display: flex;
      justify-content: flex-end;
      height: 32px;
      gap: var(--space-1);
    }
  }

  .error {
    color: var(--error-medium);
    font-size: var(--font-size-md);
    margin: var(--space-4);
    border-radius: var(--radius-md);
    background-color: var(--error-light);
    padding: var(--space-6);
  }
}
