---
import "./styles.scss";
import TableOfContents from "../components/TableOfContents.astro";
import BlogRouteLayout from "./BlogRouteLayout.astro";

type Frontmatter = {
  title: string;
  description: string;
  published: string;
  updated: string;
  tags: string[];
};

export type Heading = {
  text: string;
  slug: string;
  depth: number;
};

type Props = {
  frontmatter: Frontmatter;
  headings: Heading[];
};

const post = Astro.props.frontmatter;
const headings = Astro.props.headings;
---

<BlogRouteLayout title={post.title}>
  <main class="main">
    <div class="right-sidebar">
      <div class="right-sidebar-content">
        {
          post.tags && (
            <div>
              {post.tags.map((tag) => (
                <span class="post-tag">#{tag}</span>
              ))}
            </div>
          )
        }
        {
          headings.length ? (
            <>
              <h3>On this page</h3>
              <TableOfContents headings={headings} />
            </>
          ) : null
        }
        <!-- <div class="mt-6">
          <ScrollToTopButton />
        </div> -->
      </div>
    </div>
    <div class="article">
      <h1 class="post-title">
        {post.title}
      </h1>
      <div class="article-author-date">
        <span class="article-author"> Ha Huy Long Hai</span>
        <span class="article-date">
          {
            new Date(post.published).toLocaleDateString("en-UK", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </span>
      </div>
      <div class="article-body">
        <slot />
      </div>
    </div>
  </main>
</BlogRouteLayout>
