/* <!-- TODO move to using tailwind or smth, add toggle for line numbers --> */
.feature-sm {
  @apply w-full max-w-[900px];
}

.image-caption {
  @apply mt-3 mb-0 mx-2 font-medium text-gray-500 text-sm;
}

/* .feature-sm img,
.feature-lg img,
.feature-table-md {
  @apply shadow-[0_0_50px_60px_rgba(255,255,255,1)] static;
} */

.reading-line-width {
  @apply w-[700px] max-w-full lg:max-w-[700px] lg:min-w-[700px] z-20;
}

.icon.icon-link {
  opacity: 0;
}

h1:hover .icon.icon-link,
h2:hover .icon.icon-link,
h3:hover .icon.icon-link,
h4:hover .icon.icon-link,
h5:hover .icon.icon-link,
h6:hover .icon.icon-link {
  opacity: 1;
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  scroll-margin-top: 24px;
}

.icon.icon-link::after {
  content: "#";
  margin-left: 4px;
}

.feature-lg {
  @apply max-w-full w-[95vw] md:max-w-[1920px] z-10 xl:ml-[330px];
}

.feature-table-md {
  @apply col-span-3 mx-auto w-fit border border-gray-200 rounded-lg overflow-x-auto max-w-full lg:max-w-[900px] mb-4 z-10;
}

pre[data-theme="dark"],
div[data-rehype-pretty-code-title][data-theme="dark"],
code[data-theme="dark"] {
  display: none;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
  counter-reset: line;
  @apply p-0 m-0; /* reset inline code styles */
}

div[data-rehype-pretty-code-fragment] code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  width: 1rem;
  @apply ml-2 mr-3 text-gray-400 text-right inline-block;
}

div[data-rehype-pretty-code-fragment] code:not([data-line-numbers]) .line {
  @apply pl-4;
}

div[data-rehype-pretty-code-fragment] code > .line {
  /* make up for the highlighted leftmost border width */
  @apply border-l-2 border-transparent;
}
div[data-rehype-pretty-code-fragment] code > .line.highlighted {
  @apply border-gray-600 border-l-2;
  @apply bg-gray-600 bg-opacity-5;
}

code[data-line-numbers-max-digits="2"] > .line::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > .line::before {
  width: 3rem;
}

div[data-rehype-pretty-code-fragment] {
  @apply mt-6 border border-gray-300 rounded-lg;
}

div[data-rehype-pretty-code-title] {
  @apply bg-white shadow-sm font-sans font-medium text-sm text-gray-800 px-4 h-8;
  @apply flex flex-col justify-center ml-2;
  @apply w-fit rounded-b-md border border-t-0 border-gray-300;
}

div[data-rehype-pretty-code-fragment] code .line [data-highlighted-chars] {
  @apply bg-gray-900 bg-opacity-5 px-1 py-0.5 -mx-1 rounded-md;
  @apply border border-gray-900 border-opacity-10;
}

code {
  @apply bg-gray-100  px-1 py-0.5 rounded-md;
}
