---
import RootLayout from "../layouts/Layout.astro";
import "@/layouts/layout.scss";
import CurrentlyPlaying from "./_currently-playing";
---

<RootLayout
  seoProps={{ title: "hhai.dev home", description: "hhai.dev homepage" }}
>
  <main class="centered-layout">
    <section class="home-main">
      <div class="profile-summary">
        <img
          class="only-light-mode"
          width="48"
          src="https://res.cloudinary.com/dmdgv6qrg/image/upload/v1726327480/hhai.dev%20blog/internet-person.ico"
          style="image-rendering: pixelated; margin-bottom: 8px;"
        />
        <h3>Hai L. Ha-Huy</h3>
        <h4 class="job-title">Software Engineer</h4>
        <p class="profile-description">
          I design everything from software systems to the user interface. I
          code religiously, take photos and practice witchcraft. I love
          open-source.
        </p>
        <div class="links-section">
          <a href="/blog" class="link">Blog</a>
          <a
            class="instagram"
            href="https://www.instagram.com/wnrax/"
            target="_blank"
            class="link">Photos</a
          >
        </div>
        <div
          style="margin-top: 12px; display: flex; flex-direction: row; align-items: center; gap: 8px;"
        >
          <img
            class="only-light-mode"
            width="32"
            height="32"
            src="https://res.cloudinary.com/dmdgv6qrg/image/upload/v1726327480/hhai.dev%20blog/email.ico"
            style="image-rendering: pixelated;"
          />
          <p>con&#116;ac&#116;&#64;&#104;hai&#46;dev</p>
          <img
            class="only-light-mode"
            width="32"
            height="32"
            src="https://res.cloudinary.com/dmdgv6qrg/image/upload/v1726327480/hhai.dev%20blog/email.ico"
            style="image-rendering: pixelated;"
          />
        </div>
      </div>
      <div class="projects-section">
        <img
          class="only-light-mode"
          width="48"
          src="https://res.cloudinary.com/dmdgv6qrg/image/upload/v1726327480/hhai.dev%20blog/projects.ico"
          style="image-rendering: pixelated; margin-bottom: 8px;"
        />
        <h3>Projects</h3>
        <div class="project-entry">
          <h4>2021 — Vietnamese sentiment analysis</h4>
          <p class="project-description">
            In my graduation thesis, I developed a BERT-based model to predict
            sentiment in Vietnamese texts.{" "}
            <a
              href="https://huggingface.co/wonrax/phobert-base-vietnamese-sentiment"
              target="_blank"
              class="link">Published on Hugging Face</a
            >, it has garnered 600,000+ downloads.
          </p>
        </div>
        <div class="project-entry">
          <h4>2021 — Mybk Mobile Android app</h4>
          <p class="project-description">
            The app effortlessly fetches class schedules and vital info, built
            with local first in mind so it works even if you're offline,{" "}
            <a
              href="https://play.google.com/store/apps/details?id=com.wonrax.mybk"
              target="_blank"
              class="link"
            >
              published on the Google Play Store
            </a>{" "}
            and has over 3,000 monthly active users.{" "}
            <a
              href="https://github.com/wonrax/mybk-mobile"
              target="_blank"
              class="link"
            >
              Open sourced on GitHub.
            </a>
          </p>
        </div>
      </div>
    </section>
    <section
      style={{
        "flex-grow": 1,
        display: "flex",
        "flex-direction": "column",
        "justify-content": "end",
      }}
    >
      <CurrentlyPlaying client:only="solid-js" />
    </section>
  </main>
</RootLayout>

<style lang="scss" is:global>
  body {
    /* TODO: Somehow using the CSS variable doesn't work */
    /* background-color: rgba(var(--bg-color), 0.95); */
    background-color: rgba(255, 255, 255, 0.95);

    @media (prefers-color-scheme: dark) {
      background-color: unset;
    }
  }

  html {
    background-image: url("https://res.cloudinary.com/dmdgv6qrg/image/upload/v1726328435/hhai.dev%20blog/internet-pc.ico");
    background-repeat: no-repeat;
    background-position: 120% 120%;
    background-size: 712px;
    image-rendering: pixelated;

    @media (max-width: 1100px) {
      background-size: 612px;
      background-position: 130% 130%;
    }

    @media (max-width: 768px) {
      background-image: none;
    }

    @media (prefers-color-scheme: dark) {
      background-image: none;
    }
  }

  .centered-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .only-light-mode {
    display: none;

    @media (prefers-color-scheme: light) {
      display: block;
    }
  }

  .home-main {
    display: flex;
    flex-direction: row;
    gap: 32px;

    p {
      margin: 16px 0;
      letter-spacing: -0.01em;
    }

    .profile-summary {
      max-width: 295px;

      h3 {
        font-size: 18px;
      }

      .job-title {
        color: var(--text-body-medium);
        margin-top: 0;
      }

      .profile-description {
        color: var(--text-body-medium);
        line-height: 1.5em;
      }
    }

    .links-section {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .link {
      color: var(--text-body-link);
      text-decoration: underline;
    }

    .instagram {
      background-image: linear-gradient(90deg, #e6b718, #ee2a7b, #7140ee);
      color: transparent;
      background-clip: text;
      text-decoration: underline;
      position: relative;

      /* Underline */
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1.5px;
        margin-top: -2.5px;
        background: linear-gradient(90deg, #e6b718, #ee2a7b, #7140ee);

        @media (prefers-color-scheme: dark) {
          background-image: linear-gradient(90deg, #f9c213, #ff3f8d, #8757ff);
        }
      }

      /* Make the gradient more visible in dark mode */
      @media (prefers-color-scheme: dark) {
        background-image: linear-gradient(90deg, #f9c213, #ff3f8d, #8757ff);
      }
    }

    h3,
    h4 {
      font-weight: var(--font-weight-medium);
      margin: 8px 0;
      margin-top: 0;
      color: var(--text-body-heavy);
    }

    .projects-section {
      flex-grow: 1;

      h3 {
        margin-bottom: 24px;
      }

      .project-entry {
        margin-bottom: 32px;

        h4 {
          margin-bottom: -6px;
        }

        .project-description {
          color: var(--text-body-medium);
          line-height: 1.5em;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .profile-summary {
        max-width: 100%;
        width: 100%;
      }

      .projects-section {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .currently-playing {
    strong {
      color: var(--text-body-heavy);
    }

    p {
      color: var(--text-body-medium);
      font-size: 15px;
      margin: 6px 0;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    span {
      font-size: 6px;
    }
  }
</style>
