---
import RootLayout from "../layouts/Layout.astro";
import "@/layouts/layout.scss";
---

<RootLayout
  seoProps={{ title: "hhai.dev home", description: "hhai.dev homepage" }}
>
  <main class="home-main centered-layout">
    <div class="profile-summary">
      <h3>Ha Huy Long Hai</h3>
      <h4 class="job-title">Software Engineer</h4>
      <p class="profile-description">
        I design everything from software systems to the user interface. I code
        religiously, take photos and practice witchcraft. I love open-source.
      </p>
      <div class="links-section">
        <a href="/blog" class="link">Blog</a>
        <a href="https://www.instagram.com/wnrax/" target="_blank" class="link"
          >Photos</a
        >
      </div>
      <p>con&#116;ac&#116;&#64;&#104;hai&#46;dev</p>
    </div>
    <div class="projects-section">
      <h3>Projects</h3>
      <div class="project-entry">
        <h4>2021 — Vietnamese sentiment analysis</h4>
        <p class="project-description">
          In my graduation thesis, I developed a BERT-based model to predict
          sentiment in Vietnamese texts.{" "}
          <a
            href="https://huggingface.co/wonrax/phobert-base-vietnamese-sentiment"
            target="_blank"
            class="link">Published on Hugging Face</a
          >, it has garnered 370,000+ downloads.
        </p>
      </div>
      <div class="project-entry">
        <h4>2021 — Mybk Mobile Android app</h4>
        <p class="project-description">
          The app I wished for during my college days. It effortlessly fetches
          class schedules and vital info, even offline, ensuring you never miss
          an exam,{" "}
          <a
            href="https://play.google.com/store/apps/details?id=com.wonrax.mybk"
            target="_blank"
            class="link"
          >
            published on the Google Play Store
          </a>{" "}
          and has over 3,000 monthly active users.{" "}
          <a
            href="https://github.com/wonrax/mybk-mobile"
            target="_blank"
            class="link"
          >
            Open sourced on GitHub.
          </a>
        </p>
      </div>
    </div>
  </main>
</RootLayout>

<style lang="scss" is:global>
  .home-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding: 48px 0;

    p {
      margin: 16px 0;
      letter-spacing: -0.02em;
    }

    .profile-summary {
      max-width: 295px;

      .job-title {
        color: var(--text-body-medium);
        margin-top: 0;
      }

      .profile-description {
        color: var(--text-body-medium);
        line-height: 1.5em;
      }
    }

    .links-section {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .link {
      color: var(--text-body-link);
      text-decoration: underline;
    }

    h3,
    h4 {
      font-weight: var(--font-weight-medium);
      margin: 8px 0;
      margin-top: 0;
      color: var(--text-body-heavy);
    }

    .projects-section {
      flex-grow: 1;

      h3 {
        margin-bottom: 24px;
      }

      .project-entry {
        margin-bottom: 32px;

        h4 {
          margin-bottom: 0;
        }

        .project-description {
          color: var(--text-body-medium);
          line-height: 1.5em;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 32px 24px;

      .profile-summary {
        max-width: 100%;
        width: 100%;
      }

      .projects-section {
        max-width: 100%;
        width: 100%;
      }
    }
  }
</style>
