---
import Layout from "../layouts/Layout.astro";
import RecommenderFeed from "../components/RecommenderFeedSolid.tsx";
import ToasterProvider from "@/components/ToasterProvider";
---

<Layout
  seoProps={{
    title: "Recommender Feed",
    description: "Personalized article recommendations",
    noindex: true,
  }}
>
  <ToasterProvider client:only="solid-js" />
  <main class="recommender-page">
    <h3>Recommender Feed</h3>
    <RecommenderFeed client:only="solid-js" />
  </main>
</Layout>

<style lang="scss">
  .recommender-page {
    max-width: var(--layout-content-width);
    margin: 32px auto;
    padding: 0 var(--space-8);
  }
</style>
