---
import Layout from "./Layout.astro";
import { type Props as RootLayoutProps } from "./Layout.astro";

export type Props = RootLayoutProps;
---

<Layout seoProps={Astro.props.seoProps}>
  <slot name="head" slot="head" />
  <div class="blog-container">
    <nav class="nav-bar">
      <div class="nav-bar-content">
        <a href="/" class="logo-name-text">Hai L. Ha-Huy</a>
        <a href="/blog" class="nav-bar-link-item">Blog</a>
      </div>
    </nav>
    <slot />
  </div>
</Layout>

<style lang="scss" is:global>
  .blog-container {
    min-height: 100vh;
    background-color: var(--bg-color);
  }

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 48px 0 16px 0;
  }

  .nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    max-width: 1004px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 1280px) {
      max-width: 700px;
      padding: 0;
    }

    @media (max-width: 800px) {
      padding: 0 32px;
    }

    .logo-name-text {
      font-weight: var(--font-weight-medium);
    }

    .nav-bar-link-item {
      font-weight: 400;
    }
  }
</style>
