---
import Layout from "./Layout.astro";

const { title = "Blog", description = "hhai.dev blog index" } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="blog-container">
    <nav class="nav-bar">
      <div class="nav-bar-content">
        <a href="/" class="logo-name-text"> Ha Huy Long Hai</a>
        <a href="/blog" class="nav-bar-link-item"> Blog</a>
      </div>
    </nav>
    <slot />
  </div>
  <footer class="footer">
    <div class="nav-bar-content">
      <a href="/" class="logo-name-text"> Ha Huy Long Hai</a>
      <a href="/blog" class="nav-bar-link-item"> Blog</a>
    </div>
  </footer>
</Layout>

<style lang="scss" is:global>
  .blog-container {
    min-height: 100vh;
    background-color: white;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 48px 0 16px 0;
  }

  .nav-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    max-width: 700px;
    width: 100%;
    padding: 0 16px;

    @media (min-width: 1280px) {
      max-width: 1004px;
      padding: 0;
    }

    .logo-name-text {
      font-size: 16px;
      font-weight: 500;
    }

    .nav-bar-link-item {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .footer {
    background-color: #f5f5f5;
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 30vh;
  }
</style>
