html {
  font-family:
    Inter Variable,
    Lora,
    Archivo,
    system-ui,
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-body-heavy);
}

:root {
  --font-weight-normal: 400;
  --font-weight-medium: 500;
}

:root {
  --white-1: #fff;
  --white-2: #f9f9f9;
  --white-3: #f1f1f1;
  --white-4: #e9e9e9;
  --black-1: #282828;
  --black-2: #1f1f1f;
  --black-3: #161616;
  --black-4: #0d0d0d;
  --black-pure: #000;
  --grey-1: #ccc;
  --grey-2: #aaa;
  --grey-3: #909090;
  --grey-4: #717171;
  --grey-5: #606060;

  --bg-additive-light: rgba(0, 0, 0, 0.05);
  --bg-additive-medium: rgba(0, 0, 0, 0.1);

  --warning-light: #fff9ec;
  --warning-medium: #b69245;
  --warning-heavy: #794e0f;

  --info-light: #fbf7ff;
  --info-medium: #7b5fbb;
  --info-heavy: #220e5a;

  --text-body-heavy: var(--black-1);
  --text-body-medium: var(--grey-5);
  --text-body-light: var(--grey-2);
  --text-heading: var(--black-4);
  --text-body-link: var(--black-1);
  --text-body-link-visited: var(--grey-5);

  --bg-color: var(--white-1);

  // TODO move these blog related variables to blog routes only
  --bg-aside: var(--bg-additive-light);
  --bg-code-block: var(--white-2);
  --bg-code-block-elevated-active: var(--white-1);
  --bg-code-block-elevated-hover: var(--white-3);
  --bg-code-block-highlighted-line: var(--bg-additive-light);
  --code-block-accent: var(--grey-5);
  --text-code-block-line-number: var(--grey-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-additive-light: rgba(255, 255, 255, 0.05);
    --bg-additive-medium: rgba(255, 255, 255, 0.1);

    --warning-light: #ffbb000a;
    --warning-medium: rgb(186, 153, 83);
    --warning-heavy: #ecdbb5;

    --info-light: #6636f613;
    --info-medium: #937dc7;
    --info-heavy: #e4c8ff;

    --text-body-heavy: var(--white-4);
    --text-body-medium: var(--grey-1);
    --text-body-light: var(--grey-3);
    --text-heading: var(--white-2);
    --text-body-link: var(--white-2);
    --text-body-link-visited: var(--grey-2);

    --bg-color: var(--black-1);
    --bg-aside: var(--bg-additive-light);
    --bg-code-block: var(--bg-additive-light);
    --bg-code-block-elevated-active: var(--bg-additive-medium);
    --bg-code-block-elevated-hover: var(--bg-additive-light);
    --bg-code-block-highlighted-line: var(--bg-additive-light);
    --code-block-accent: var(--grey-1);
    --text-code-block-line-number: var(--grey-4);
  }
}

body {
  margin: 0;
  font-size: 16px;

  // attempt to fix safari unexpected large font size
  // https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
  @media screen and (max-device-width: 480px) {
    -webkit-text-size-adjust: 100%;
  }
}

code {
  font-family: Inconsolata, monospace;
}

a,
a:visited {
  color: var(--text-body-heavy);
  text-decoration: none;
}
