---
import "./global.scss";
import "@fontsource-variable/inter";
import path from "path";
import { SEO, type Props as SeoProps } from "astro-seo";

export type Props = {
  seoProps: SeoProps & {
    title: string;
    description: string;
  };
};

const seoProps = Astro.props.seoProps;

const ogImageUrl =
  Astro.url.protocol +
  "//" +
  Astro.url.host +
  path.posix.join(Astro.url.pathname, "og-image.png");

const title = seoProps.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="alternate icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={title}
      titleDefault={title}
      description={seoProps?.description}
      openGraph={{
        basic: {
          image: ogImageUrl,
          title: title,
          type: "website",
          ...seoProps?.openGraph?.basic,
        },
        article: {
          authors: ["Ha Huy Long Hai"],
          ...seoProps?.openGraph?.article,
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@wnrax",
        description: seoProps?.description,
        image: ogImageUrl,
        imageAlt: "Banner image for: " + title,
        site: "@wnrax",
        title: title,
        ...seoProps?.twitter,
      }}
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <script>
      if (process.env.NODE_ENV === "production") {
        const [{ posthog }, { checkAuthUser }] = await Promise.all([
          import("posthog-js"),
          import("@/state"),
        ]);

        posthog.init("phc_DNnzWNmnjFtV0dwGSFedEhviKhj9dpXAjHw0OyspGvO", {
          api_host: "https://app.posthog.com",
          loaded: async (posthog) => {
            if (sessionStorage.getItem("posthog_identified") === "true") {
              return;
            }
            try {
              const authInfo = await checkAuthUser();
              if (authInfo != null)
                posthog.identify(authInfo.id.toString(), {
                  email: authInfo.email,
                  name: authInfo.name,
                });
              sessionStorage.setItem("posthog_identified", "true");
            } catch (e) {
              console.error("Could not identify user", e);
            }
          },
        });
      }
    </script>
  </body>
</html>
