---
import "./global.scss";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <link rel="alternate icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body><style is:global>
    html {
      font-family:
        Inter Variable,
        Lora,
        Archivo,
        system-ui,
        sans-serif;
    }
    code {
      font-family: Inconsolata, monospace;
    }

    :root {
      --font-weight-normal: 450;
      --font-weight-medium: 550;
    }
  </style>
</html>

<script>
  if (process.env.NODE_ENV === "production") {
    const { posthog } = await import("posthog-js");
    posthog.init("phc_DNnzWNmnjFtV0dwGSFedEhviKhj9dpXAjHw0OyspGvO", {
      api_host: "https://app.posthog.com",
    });
  }
</script>
